form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    .form__place {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
      label {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
      }
    }
}