.footer__main {
    background-color: #f7f7f7;
    padding: 30px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li:not(:last-child) {
    margin-right: 20px;
  }
  
  .nav a {
    color: #484848;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  
  .nav a:hover {
    color: #008489;
  }
  
  .logo {
    font-size: 24px;
    font-weight: 700;
    color: #484848;
  }